КЯР/xml/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="faculty">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="specialization" type="xs:string"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="period" type="xs:string"/>
				<xs:element name="city" type="xs:string"/>
				<xs:element name="exam" type="xs:string"/>
				<xs:element name="stud" type="xs:string"/>
				<xs:element name="passball" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>